<div class='col-xs-10 col-xs-offset-2'>
  <h1>Data Monitor</h1>
  <ul class="dataio">
    <% @models.each do |model| %>
        <li>
          <h3><%= model %></h3>

          <%= form_tag admin_monitors_import_path, multipart: true do %>
              <div>
                <%= file_field_tag :file %>
                <%= hidden_field_tag :model %>
                <br>
                <%= submit_tag 'Import', class: 'btn btn-large btn-danger' %>
                <%= link_to 'Export', admin_monitors_export_path(model: model),class: 'btn btn-large btn-success' %>
              </div>
          <% end %>
          <br>
        </li>
    <% end %>
  </ul>
</div>